.round-image{
    border-radius: 50%;
    
    width: 75px;
    height: 75px;
}

.alignment{
    text-align: center;
}

.color-blue{
    color: #7d98e8;
}
.img-padding{
    padding: 10px 10px 0px 30px;
}
.title-padding{
    padding: 10px 10px 0px 10px;
}
.padding{
    padding-bottom: 10px;
}
.icon-padding{
    padding-top: 10px;
}