<div class="row">
  <div class="col-md-12">
    <h3 class="card-title color-blue">Employee List</h3>
    <!--<p>Dashboard/Employees/Add Employee</p>-->
    <nav class="page-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Dashboard</a></li>
        <li class="breadcrumb-item"><a routerLink=".">Employees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employees List</li>
      </ol>
    </nav>
  </div>
</div>

<!--cards-->

<div class="row">

  <div class="col-12 col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body img-padding">
              <img src="https://th.bing.com/th/id/OIP.caBoQfJXmjcumn5HVKU51QHaE8?pid=ImgDet&rs=1" class="round-image" alt="...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-body mt-3 title-padding">
              <h5 class="color-blue">Darlene C. Larsen</h5>
              <p>Manager</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-body mt-3">
              <div> <i data-feather="more-vertical" appFeatherIcon></i></div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="user" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Employee ID</p>
            <h5 class="ml-3 color-blue padding">XYZ-1005</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="phone" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Phone</p>
            <h5 class="ml-3 color-blue padding">0092 927 222 189</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="mail" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Email</p>
            <h5 class="ml-3 color-blue padding">jamespascal@gmail.com</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="users" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Department</p>

            <h5 class="ml-3 color-blue padding">Design</h5>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="calendar" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Date of Joining</p>
            <h5 class="ml-3 color-blue padding">Sep. 24, 2019</h5>

          </div>
        </div>

        <hr>

        <a href="" (click)="false" class="btn btn-primary mt-2">View More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body img-padding">
              <img src="https://th.bing.com/th/id/OIP.caBoQfJXmjcumn5HVKU51QHaE8?pid=ImgDet&rs=1" class="round-image" alt="...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-body mt-3 title-padding">
              <h5 class="color-blue">Darlene C. Larsen</h5>
              <p>Manager</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-body mt-3">
              <div> <i data-feather="more-vertical" appFeatherIcon></i></div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="user" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Employee ID</p>
            <h5 class="ml-3 color-blue padding">XYZ-1005</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="phone" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Phone</p>
            <h5 class="ml-3 color-blue padding">0092 927 222 189</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="mail" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Email</p>
            <h5 class="ml-3 color-blue padding">jamespascal@gmail.com</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="users" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Department</p>

            <h5 class="ml-3 color-blue padding">Design</h5>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="calendar" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Date of Joining</p>
            <h5 class="ml-3 color-blue padding">Sep. 24, 2019</h5>

          </div>
        </div>

        <hr>

        <a href="" (click)="false" class="btn btn-primary mt-2">View More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body img-padding">
              <img src="https://th.bing.com/th/id/OIP.caBoQfJXmjcumn5HVKU51QHaE8?pid=ImgDet&rs=1" class="round-image" alt="...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-body mt-3 title-padding">
              <h5 class="color-blue">Darlene C. Larsen</h5>
              <p>Manager</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-body mt-3">
              <div> <i data-feather="more-vertical" appFeatherIcon></i></div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="user" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Employee ID</p>
            <h5 class="ml-3 color-blue padding">XYZ-1005</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="phone" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Phone</p>
            <h5 class="ml-3 color-blue padding">0092 927 222 189</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <i class="ml-5" data-feather="mail" appFeatherIcon></i>
          </div>
          <div class="col-sm-8">
            <p class="ml-3">Email</p>
            <h5 class="ml-3 color-blue padding">jamespascal@gmail.com</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="users" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Department</p>

            <h5 class="ml-3 color-blue padding">Design</h5>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <i class="ml-5" data-feather="calendar" appFeatherIcon></i>

          </div>

          <div class="col-sm-8">

            <p class="ml-3">Date of Joining</p>
            <h5 class="ml-3 color-blue padding">Sep. 24, 2019</h5>

          </div>
        </div>

        <hr>

        <a href="" (click)="false" class="btn btn-primary mt-2">View More</a>
      </div>
    </div>
  </div>


</div>

