<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="app-logo d-block mb-2">WMS<span>GB</span></a>
            <!-- <h5 class="text-muted font-weight-normal mb-4">Reset password</h5> -->

            <ng-container *ngIf="loading">
              <i data-feather="loader" class="loading"></i>
              <h5 class="text-muted mt-3">Verifying...</h5>
            </ng-container>

            <ng-container *ngIf="invalidLink && !loading">
              <i data-feather="alert-triangle" class="xl-icon"></i>
              <h5 class="text-muted mt-2">Failed!</h5>
              <p class="text-muted mt-1">The link is invalid or expired.</p>
              <a routerLink="/auth/forgot-password" class="d-block mt-2 text-muted">Request New Link</a>
            </ng-container>

            <ng-container *ngIf="!invalidLink && !loading">
              <i data-feather="check" style="color: green;" class="xl-icon"></i>
              <h5 class="text-muted mt-2">Success!</h5>
              <p class="text-muted mt-1">Account verified successfully!</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>