.ulineform {
    width: 100%;
    //padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #c2bba7;
  }
  .color-blue{
    color: #7d98e8;
}
agm-map {
    height: 300px;
  }