.color-blue{
    color: #7d98e8;
}
.padding{
    padding-bottom: 10px;
}
.pl{
    padding-left: 50px;
}
agm-map {
    height: 250px;
    width: 450px;
  }
.border-radius{
      border-radius: 25px;
  }