<h3 class="card-title color-blue">Out of Region</h3>
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Dashboard</a></li>
    <li class="breadcrumb-item" aria-current="page">Out of Region</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Location of WMS VS Region When WMS tried an activity</h6>
        <div class="col-md-12 stretch-card">
          <div class="col-sm-3">
            <p class="mt-3">Name</p>
            <h5 class="color-blue padding">Ammar Khan</h5>
            <p class="mt-3">Email</p>
            <h5 class="color-blue padding">ammarkhan211@gmail.com</h5>
            <p class="mt-3">Activity</p>
            <h5 class="color-blue padding">WMS</h5>
            <p class="mt-3">Longitude</p>
            <h5 class="color-blue padding">45.5474389</h5>
          </div>
          <div class="col-sm-3">
            <p class="mt-3">Phone</p>
            <h5 class="color-blue padding">03139800411</h5>
            <p class="mt-3">Region</p>
            <h5 class="color-blue padding">UC No 21 Batagram</h5>
            <p class="mt-3">Date & Time</p>
            <h5 class="color-blue padding">Apr. 3, 2020, 9:41:42 pm</h5>
            <p class="mt-3">Latitude</p>
            <h5 class="color-blue padding">36.5474389</h5>
          </div>
          <div class="col-sm-6 border-radius">
            <div class="border-radius">
              <agm-map [latitude]="lat" [longitude]="lng">
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="true"
                (mapClick)="mapClicked($event)">
                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                  (dragEnd)="markerDragEnd(m, $event)">
                  <agm-info-window>
                    <strong>Office</strong>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>